.section {
    border: 1px solid;
    margin: auto;
    padding: 10px;
    max-width: 900px;
    margin-bottom: 25px;
}

.section table * {
    text-align: center;
    line-height: 1.75;
}

.title-artist {
    font-size: 0.8em;
    width: 30%;
}

.lyrics {
    font-size: 0.8em;
    width: 40%;
}

.album-cover {
    height: 150px;
    width: 150px;
}

.section-title {
    font-weight: 600;
}

.listen {
    width: 10%;
}

.spotify {
    content: url("../images/buttons/spotify.svg");
    width: 35px;
}

.youtube {
    content: url("../images/buttons/youtube.svg");
    width: 35px;
}
