* {
    font-family: Pretendard, 'Segoe UI Emoji', sans-serif;
    padding: 0px;
    margin: 0px;
	cursor: url("../images/cursor.cur"), auto;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    /* disable dragging */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.section-title {
    padding: 30px;
    font-weight: 800;
    font-size: 50px;
    background: linear-gradient(to right, #757EFF, #F94BFF 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section {
    border: 2px dashed #ffdfdf;
    margin: 3em auto;
    padding: 20px;
    max-width: 900px;
    margin-bottom: 25px;
}

.music-table {
    margin: auto;
}

.music-table th {
    font-weight: 500;
}

.music-title {
    font-size: 1.2em;
}

.music-artist {
    color: gray;
}

.music-table * {
    text-align: center;
    line-height: 1.75;
}

.music-number {
    width: 5%;
}

.title-artist {
    font-size: 0.8em;
    width: 30%;
}

.lyrics {
    font-size: 0.8em;
    width: 40%;
}

.album-cover {
    height: 150px;
    width: 150px;
}

.listen {
    width: 10%;
}

.spotify {
    content: url("../images/buttons/spotify.svg");
    width: 35px;
}

.youtube {
    content: url("../images/buttons/youtube.svg");
    width: 35px;
}

#introduce {
	display: flex;
	line-height: 2.3em;
    padding-left: 5%;
    margin: auto;
	flex-direction: column;
}

/* Prevent convert overflows, causing 꾸물꾸물 */
#introduce > p {
    max-height: 2.3em;
} 

#introduce > p:hover > .emoji {
    transform: scale(1.5);
}

#introduce > p > strong {
    transition: 0.2s cubic-bezier(0.01, 0.3, 0.4, 2.35);
}

#introduce > p:hover > strong {
    font-size: 20px;
}

/* Fixing emoji with different width*/
#introduce > p > .emoji {
    transition: 0.2s cubic-bezier(0.01, 0.3, 0.4, 2.35);
    display: inline-block;
    width: 32px;
    text-align: center;
    margin-right: 12.8px;
}

#introduce > p > strong {
    background: linear-gradient(to right, #4D90FE, #8C39FF 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.music-vote {
    margin: auto;
    width: 100%;
}

.music-vote td {
    width: 20%;
    line-height: 2;
    text-align: center;
}

.vote {
    display: none;
}

.vote-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vote + label {
    font-size: 1.5rem;
    width: 2rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .1s all;
    cursor: pointer;
}

.vote + label:after {
  content: "🙅🏻‍♂️";
}

.vote:checked + label:after {
  content: "🙆🏻‍♂️";
}

.vote:checked + label {
  transform: scale(1.3);
}

.vote:checked + label:hover {
  transform: 0.2s cubic-bezier(0.01, 0.3, 0.4, 2.35);
}

.vote + label:hover {
  transform: 0.2s cubic-bezier(0.01, 0.3, 0.4, 2.35);
}

.formBtn {
    border: none;
    font-size: 1.2em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
}

.formBtns {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: auto;
}

#name-field {
    border: none;
    border-radius: 1em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 2em;
    background-color: #e9e9e9;
}

.name-field-container {
    text-align: center;
    margin: 1em auto;
}

